#wed {
  width: 300px;
  height: 300px;
  margin: 5px;
  padding: 10px;
  float: left;
   -webkit-transition: width 2s;
    transition: width 2s, height 2s, transform 2s;
}
#wed:hover {
  width: 700px;
  height: 700px;
}
#guitar {
  width: 300px;
  height: 300px;
  margin: 5px;
  padding: 10px;
  float: left;
  -webkit-transition: width 2s;
    transition: width 2s, height 2s, transform 2s;
}
#guitar:hover {
   width: 700px;
  height: 700px;
}
#girl {
  width: 300px;
  height: 300px;
  margin: 5px;
  padding: 10px;
  float: left;
  -webkit-transition: width 2s;
    transition: width 2s, height 2s, transform 2s;
}
#girl:hover {
 width: 700px;
  height: 700px;
}
#soccer {
  width: 300px;
  height: 300px;
  padding: 10px;
  float: left;
  -webkit-transition: width 2s;
    transition: width 2s, height 2s, transform 2s;
}
#soccer:hover {
 width: 700px;
  height: 700px;
}
#friends {
  width: 300px;
  height: 300px;
  padding: 10px;
  float: left;
  -webkit-transition: width 2s;
    transition: width 2s, height 2s, transform 2s;
}
#friends:hover {
 width: 700px;
  height: 700px;
}
#sis {
  width: 300px;
  height: 300px;
  padding: 10px;
  float: left;
  -webkit-transition: width 2s;
    transition: width 2s, height 2s, transform 2s;
}
#sis:hover {
 width: 700px;
  height: 700px;
}
