#wed {
  width: 100px;
  height: 100px;
  margin: 5px;
  padding: 10px;
  float: left;
}
#guitar {
  width: 100px;
  height: 100px;
  margin: 5px;
  padding: 10px;
  float: left;
}
#girl {
  width: 100px;
  height: 100px;
  margin: 5px;
  padding: 10px;
  float: left;
}
#soccer {
  width: 100px;
  height: 100px;
  padding: 10px;
  float: left;
}
#friends {
  width: 100px;
  height: 100px;
  padding: 10px;
  float: left;
}
#sis {
  width: 100px;
  height: 100px;
  padding: 10px;
  float: left;
}
