h1, h2, h3 {
  color: black;
}
h1 {
  text-align:center;
}
body {
  background-image: url("http://media-cache-ec0.pinimg.com/avatars/madsteryouknow-1405382020_140.jpg")
}
p {
  color: white;
}
table {
  color: white;
}
nav {
  margin-top: 20px;
  margin-bottom: 50;
  background-color: black;
  text-align:center;
}
nav li {
  display: inline;
}
li.navigation {
  color: white;
}
