h1, h2, h3 {
  color: black;
}
h1 {
  text-align:center;
}
body {
  background-color: aquamarine;
  background
}
p {
  color: black;
}
table {
  color: black;
}
nav {
  margin-top: 20px;
  margin-bottom: 0px;
  height: 40px;
  background-color: black;
  justify-content: space-around
  font-size: 50pts;
}
nav li {
  display: inline;
  margin-bottom: 40px;
  color: white;
}
li.navigation {
  font-size: 50pts;
}
section {
  float: top center;
  width: 75%;
  height: 100%;
  background-color: azure;
  color: black;
  margin-left: 150px;
  margin-right:50px;
  margin-top: 20px;
  margin-bottom: 100px;
}
input {
  position: fixed;
  right: 20px;
  top: 75px;
}
