h1, h2, h3 {
  color: black;
}
h1 {
  text-align:center;
}
body {
  background-color: aquamarine;
  background
}
p {
  color: black;
}
table {
  color: black;
}
nav {
  margin-top: 20px;
  margin-bottom: 0px;
  height: 40px;
  background-color: black;
  text-align: center;
  word-spacing: normal;
}
nav li {
  display: inline;
  margin-bottom: 40px;
  margin-top: 40px;
  padding: 20px;
}
a:visited {
  text-decoration: none;
  color: white;
}
li.navigation {
  font-size: 30px;
  color: white;
  align-items: center;
  text-decoration: none;
}
li.navigation:hover {
  width: 300px;
}
section {
  float: top center;
  width: 75%;
  height: 100%;
  background-color: azure;
  color: black;
  margin-left: 150px;
  margin-right:50px;
  margin-top: 20px;
  margin-bottom: 100px;
}
input {
  position: fixed;
  right: 20px;
  top: 75px;
}
