h1, h2, h3, h4 {
  font-size: 200%;
}
h1, p#milk, p#cheese, p#yogurt {
  color: green;
}
h2, p#salami, p#turkey, p#beef {
  color: blue;
}
h3, p#bread, p#crackers {
  color: red;
}
p#cheese {
  text-decoration: line-through;
}
p#crackers {
  text-decoration: line-through;
}
p#yogurt {
  text-decoration: line-through;
}
h1#maddy {
  text-align:center;
  color: black;
}
body {
  background-color: aquamarine;
  background
}
p {
  color: black;
}
table {
  color: black;
}
nav {
  margin-top: 20px;
  margin-bottom: 0px;
  height: 40px;
  background-color: black;
  text-align: center;
  word-spacing: normal;
}
nav li {
  display: inline;
  margin-bottom: 40px;
  margin-top: 40px;
  padding: 20px;
}
a:visited {
  text-decoration: none;
  color: white;
}
li.navigation {
  font-size: 30px;
  color: white;
  align-items: center;
  text-decoration: none;
}
input {
  position: absolute;
  right: 20px;
  top: 75px;
}
